<div id="block-block-10" class="block block-block even">
  <div class="content">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.0/jquery.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.12/jquery-ui.min.js"></script>
<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.12/themes/base/jquery.ui.all.css">
<script>
$(function(){
  $("#download-tabs").tabs();
  $("#download-tabs, #download-tabs .ui-tabs-nav, #download-tabs .ui-tabs-nav > *" )
    .removeClass( "ui-corner-all ui-corner-top" );
});
</script>

  <!-- cancel out jQuery CSS -->
  <style>
    .ui-widget { font-family: inherit !important; }
    .ui-widget-content { color:inherit !important; }
    .ui-widget-content .tab a { color: #D24939 !important; }
  </style>
  <style>
    #sidebar #block-block-12, #sidebar #block-block-10 { /*12 needed only for debugging */
        background-color: #d3d7cf !important;
        padding:0;
        width:320px;
    }
    #download-tabs {
        background-color: #d3d7cf;
        background-image:url(/images/download.png);
        background-repeat: no-repeat;
        background-position: center 5em;
        border: 0;
        padding: 0;
        font-size: 1.2em;
    }
    #download-tabs .tab-bar {
        border: 0;
        background: #ececec;
    }
    #download-tabs .tab {
        padding: 1em;
    }

    #sidebar #download-tabs LI {
        background: #ececec;
        border: 0;
        padding: 0;
        top: 0;
    }
    #sidebar #download-tabs LI.ui-tabs-selected {
        background: #d3d7cf;
    }

    #download-tabs DL {
        margin: 0;
    }
    #download-tabs DT {
        font-size: 1.2em;
        font-weight: bold;
        margin: 0.2em 0;
        padding: 0;
    }
    #download-tabs DD {
        margin-left: 1em;
    }
    #download-tabs DD IMG {
        vertical-align:middle;
    }
    #download-tabs A.soft {
        color: #555;
    }
    #download-tabs .small {
        font-size:0.8em;
    }
    .release-block-platforms IMG {
        margin: 2px;
    }
  </style>
<script>
function download(href) {
  window.location = href;
  return false;
}
</script>
<div style="background: #ececec; padding-bottom: 0.5em">
  <h2>Download Jenkins</h2>
</div>
<div id="download-tabs" class="ui-tabs ui-widget ui-widget-content">
  <ul class="tab-bar ui-tabs-nav ui-helper-reset ui-helper-clearfix ui-widget-header">
    <li class="ui-state-default ui-tabs-selected ui-state-active"><a href="#release">Release</a></li>
    <li class="ui-state-default"><a href="#stable">Long-Term Support Release</a></li>
  </ul>
  <div id="release" class="tab ui-tabs-panel ui-widget-content ui-corner-bottom">
    <dl>
    <dt>Java Web Archive (.war)</dt>
    <dd style="margin-bottom:1em">
      <div>
        <a href="http://mirrors.jenkins-ci.org/war/latest/jenkins.war"><strong>Latest and greatest (1.473)</strong></a>
      </div>
      <div class="release-block-small" style="text-align:right">
       <a href="/changelog" class="release-block-soft">changelog</a> | <a href="http://mirrors.jenkins-ci.org/war/" class="release-block-soft">past releases</a> | <a href="/rc" class="release-block-soft">RC</a>
      </div>
      <br>
      <div style="text-align:right">
       <a href="http://wiki.jenkins-ci.org/display/JENKINS/Upgrading+from+Hudson+to+Jenkins"><strong>upgrading from Hudson?</strong></a>
      </div>
    </dd>

    <dt>Or native package</dt>
    <dd class="release-block-platforms">
      <div>
        <img src="/images/os/win_other.png">
        <a class="release-block-soft" href="http://mirrors.jenkins-ci.org/windows/latest" onclick="return download('http://jenkins-ci.org/content/thank-you-downloading-windows-installer')">Windows</a>
      </div>
      <div>
        <img src="/images/os/ubuntu.png">
        <a class="release-block-soft" href="http://pkg.jenkins-ci.org/debian/">Ubuntu/Debian</a>
      </div>
      <div>
        <img src="/images/os/redhat.png">
        <a class="release-block-soft" href="http://pkg.jenkins-ci.org/redhat/">Red Hat/Fedora/CentOS</a>
      </div>
      <div>
        <img src="/images/os/os_macosx.png">
        <a class="release-block-soft" href="http://mirrors.jenkins-ci.org/osx/latest" onclick="return download('http://jenkins-ci.org/content/thank-you-downloading-os-x-installer')">Mac OS X</a>
      </div>
      <div>
        <img src="/images/os/opensuse.png">
        <a class="release-block-soft" href="http://pkg.jenkins-ci.org/opensuse/">openSUSE</a>
      </div>
      <div>
        <img src="/images/os/freebsd.png">
        <a class="release-block-soft" href="http://www.freshports.org/devel/jenkins">FreeBSD</a>
      </div>
      <div>
        <img src="/images/os/os_openbsd.png">
        <a class="release-block-soft" href="http://openports.se/devel/jenkins">OpenBSD</a>
      </div>
      <div>
        <img src="/images/os/opensolaris.png">
        <a class="release-block-soft" href="http://ips.jenkins-ci.org/ips/en/catalog.shtml">Solaris/OpenIndiana</a>
      </div>
      <div>
        <img src="/images/os/os_gentoo.png">
        <a class="release-block-soft" href="http://code.google.com/p/godin-gentoo-repository/wiki/Jenkins">Gentoo</a>
      </div>
    </dd>
    </dl>
  </div>


  <div id="stable" class="tab ui-tabs-panel ui-widget-content ui-corner-bottom ui-tabs-hide">
    <dl>
    <dt>Java Web Archive (.war)</dt>
    <dd style="margin-bottom:1em">
      <div>
        <a href="http://mirrors.jenkins-ci.org/war-stable/latest/jenkins.war"><strong>Older but stable  (1.447.2)</strong></a>
      </div>
      <div class="release-block-small" style="text-align:right">
       <a href="/changelog-stable" class="release-block-soft">changelog</a> | <a href="http://mirrors.jenkins-ci.org/war-stable/" class="release-block-soft">past releases</a> | <a href="/stable-rc" class="release-block-soft">RC</a>
      </div>
      <br>
      <div style="text-align:right">
       <a href="http://wiki.jenkins-ci.org/display/JENKINS/Upgrading+from+Hudson+to+Jenkins"><strong>upgrading from Hudson?</strong></a>
      </div>
      <div style="text-align:right">
       <a href="https://wiki.jenkins-ci.org/display/JENKINS/LTS+Release+Line"><strong>What is LTS?</strong></a>
      </div>
    </dd>

    <dt>Or native package</dt>
    <dd class="release-block-platforms">
      <div>
        <img src="/images/os/win_other.png">
        <a class="release-block-soft" href="http://mirrors.jenkins-ci.org/windows-stable/latest" onclick="return download('http://jenkins-ci.org/content/thank-you-downloading-windows-installer?releaseLine=-stable')">Windows</a>
      </div>
      <div>
        <img src="/images/os/ubuntu.png">
        <a class="release-block-soft" href="http://pkg.jenkins-ci.org/debian-stable/">Ubuntu/Debian</a>
      </div>
      <div>
        <img src="/images/os/redhat.png">
        <a class="release-block-soft" href="http://pkg.jenkins-ci.org/redhat-stable/">Red Hat/Fedora/CentOS</a>
      </div>
      <div>
        <img src="/images/os/os_macosx.png">
        <a class="release-block-soft" href="http://mirrors.jenkins-ci.org/osx-stable/latest" onclick="return download('http://jenkins-ci.org/content/thank-you-downloading-os-x-installer?releaseLine=-stable')">Mac OS X</a>
      </div>
      <div>
        <img src="/images/os/opensuse.png">
        <a class="release-block-soft" href="http://pkg.jenkins-ci.org/opensuse-stable/">openSUSE</a>
      </div>
      <div>
        <img src="/images/os/opensolaris.png">
        <a class="release-block-soft" href="http://ips.jenkins-ci.org/ips-stable/en/catalog.shtml">Solaris/OpenIndiana</a>
      </div>
      <div>
        <img src="/images/os/os_gentoo.png">
        <a class="release-block-soft" href="http://code.google.com/p/godin-gentoo-repository/wiki/Jenkins">Gentoo</a>
      </div>
    </dd>
    </dl>
  </div>
</div>
  </div>
</div>
