<div id="block-block-5" class="block block-block even">
  <h3>Sponsors</h3>
  <div class="content">
    <p></p><center><br>
<a href="http://www.contegix.com" target="_blank"><img src="http://agentdero.cachefly.net/continuousblog/contegix.png" alt="Hosting and bandwidth provided by Contegix"></a><br>
</center><p></p>
<p></p><center><br>
<a href="http://www.rackspace.com" target="_blank"><img src="http://agentdero.cachefly.net/continuousblog/rackspace2.jpg" width="250" alt="Build infrastructure provided by Rackspace"></a></center><p></p>
<p></p>
<p></p><center><br>
<a href="http://www.osuosl.org" target="_blank"><img src="http://agentdero.cachefly.net/continuousblog/osl_logo.png" alt="Mirroring services by OSUOSL"></a><br>
</center><p></p>
<p></p><center><br>
<a href="http://www.xmission.com" target="_blank"><img src="http://agentdero.cachefly.net/continuousblog/xmission_small.jpg" alt="Mirroring services by XMission"></a><br>
</center><p></p>
<p></p><center><br>
<a href="http://jfrog.com" target="_blank"><img src="http://jenkins-ci.org/sites/default/files/images/jfrog-logo.jpg" alt="Artifact repository by JFrog" width="130" height="130"></a><br>
</center><p></p>
<p></p><center><br>
<a href="http://www.cloudbees.com/" target="_blank"><img src="http://jenkins-ci.org/sites/default/files/images/CloudBees-logo.png" alt="Hosted Jenkins by CloudBees" width="200"></a><br>
</center><p></p>
  </div>
</div>
